section {
    border: 1px solid gray;
    margin-top: 10px;
    position: relative;
}
button{
    position: absolute;
    top: 40px;
    left: 120px;
    z-index: 1;
}
h2{
    position: relative;
    bottom: -20px;
}
h3{
    background: rgb(142, 142, 245);
    width: 150px;
    padding: 10px;
    position: fixed;
    bottom: -20px;
    z-index: 2;
    right: 0px;
}